@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* Custom base styles if needed */
html, body {
  @apply antialiased;
}

/* Helper pour la bannière Peaky Blinders */
.clip-diagonal {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 768px) {
  .clip-diagonal {
    clip-path: none;
  }
}
